{% extends 'base.html' %}

{% block content %}
<ul class="nav nav-tabs" id="myTab" role="tablist">
    {% for task in tasks %}
      <li class="nav-item" role="presentation">
        <button class="nav-link {%if forloop.counter == 1 %}active{% endif %}" id="task-tab-{{ task.id }}" data-bs-toggle="tab" data-bs-target="#task-tab-pane-{{ task.id }}" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">{{forloop.counter}}</button>
      </li>

    {% endfor %}

    {% for test in test_task %}
      <li class="nav-item" role="presentation">
        <button class="nav-link"
                id="test_task-tab-{{ test.id }}"
                data-bs-toggle="tab"
                data-bs-target="#testtask-tab-pane-{{ test.id }}"
                type="button" role="tab">
            {{ forloop.counter|add:tasks.count }}
        </button>
      </li>
    {% endfor %}

</ul>
<div class="tab-content" id="myTabContent">
    {% for task in tasks %}
        <div class="tab-pane fade {%if forloop.counter == 1 %} show active{% endif %}" id="task-tab-pane-{{ task.id }}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {{task.description}}

        <form action="{% url 'task_app:task-list' lesson.pk %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="hidden" name="task_id" value="{{task.id}}">
            {{ answer_task_form.as_p }}
            <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send"></i></button>
        </form>
        </div>

    {% endfor %}


    {% for test in test_task %}
        <div class="tab-pane fade" id="testtask-tab-pane-{{ test.id }}" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
            {% if not user_answer %}
            <form method="POST">
                {% csrf_token %}
            <h3>{{ test.name }}</h3>
            <input type="hidden" name="test_question_id" value="{{ test.id }}" required>
           <div data-bs-toggle="buttons">
               <div class="row row-cols-1 row-cols-md-2 g-2 g-lg-3">
                {% for option in test.answers.all %}
                   <div class="col">

                    <input type="radio" class="btn-check" name="answers" id="option-{{ option.id }}" autocomplete="off" value="{{ option.id }}">
                    <label class="btn btn-primary d-block p-4" for="option-{{ option.id }}">{{ option.name }}</label>

                    </div>


                {% endfor %}

               </div>
               <button type="submit" class="btn btn-outline-primary"><i class="bi bi-send"></i></button>

            </div>
            </form>
            {% else %}
                {% if user_answer.option_choice == option %}
                {% if user_answer.option_choice.option == True %}
                    {% for option in test.answers.all %}
                   <div class="col">
                    <label class="btn btn-success d-block p-4" for="option-{{ option.id }}">{{ option.name }}</label>
                    </div>
                    {% endfor %}
                {% endif %}
        </div>
        {% endif %}
        {% endif %}
    {% endfor %}



</div>


{% endblock %}
