{% extends 'base.html' %}
{% block content %}



<ul class="list-group">
  {% for module in course.course_modules.all %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <a href="{% url 'lessons_app:lessons-list' module.id %}"
         class="text-decoration-none text-body d-block">
        <div class="fw-semibold">{{ module.name }}</div>

      </a>

      <a href="{% url 'lessons_app:lessons-list' module.id %}"
         class="btn btn-primary btn-sm flex-shrink-0 px-4">
        Деталі
      </a>
    </li>
  {% endfor %}
</ul>

{% endblock %}